<!DOCTYPE html> 
<html>
<head>
    {{ $headless := .Site.GetPage "/editablepages" }}
    {{ $reusablePages := $headless.Resources.Match "_suelos*" }} 
    {{ range $reusablePages }}
	<meta charset="UTF-8">
    <title>{{.Params.title }}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta property="og:site_name" content="{{.Params.title }}" />
	<meta property="og:title" content="{{.Params.title }}" />
	<meta property="og:description" content="{{.Params.description }}"/>
	<meta name="description" content="{{.Params.description }}"/>
    <link href="/images/favicon.png" rel="shortcut icon" type="image/png">
	<meta name="viewport" content="initial-scale=1.0, width=device-width">
    <link rel="stylesheet" href="{{ "/css/styles.css" | relURL}}" />
    <link rel="stylesheet" href="{{ "/css/swiper.min.css" | relURL}}" />
    <link rel="stylesheet" href="{{ "/css/font-awesome.css" | relURL}}" />
    <link rel="stylesheet" href="{{ "/css/aos.min.css" | relURL}}" />
    
    <noscript>
            <style>
                [data-aos] {
                    opacity: 1 !important;
                    transform: translate(0) scale(1) !important;
                }
                #preloader {
                display: none;
            }
            </style>
        </noscript>
</head>
{{ end }}
<body>
       <!-- ***** Preloader Start ***** -->
       {{ block "loader" . }}{{ partial "loader.html" .}}{{ end }}
    <div class="root bstrtch">
        <header>
            <!-- Start of entire header -->
            <section class="header-container">
                <section class="main-header mh2">
                    <p class="logo">
                        <a href="/">
                            <img src="/images/logo.svg" alt="Logo Geatec">
                        </a>
                    </p>   
                    
                    <div class="social-nav social-header">
                        <button class="hamburger hamburger--collapse" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                        {{ $headless := .Site.GetPage "/editablepages" }}
                        {{ $reusablePages := $headless.Resources.Match "_social*" }} 
                        {{ range $reusablePages }}
                        <div class="animated-social  header-social">
                            <a class="btn-social" href="{{ .Params.lnlink }}">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                            </a>
                            <a class="btn-social" href="{{ .Params.glink }}">
                                <i class="fa fa-google-plus" aria-hidden="true"></i>
                            </a>
                            <a class="btn-social" href="{{ .Params.fblink }}">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                        </div>
                        {{ end }}
                        <section id="navFullsize" class="nav-container second-nav">
                            <nav>
                                <ul class="change-link-color">
                                    <li><a href="/">Inicio</a></li>
                                    <li class="sub-menu current-menu-item">
                                        <a id="sub" href="#">Servicios</a>
                                        <ul id="sub-menu-ul">
                                            <li class="current-submenu-item"><a href="">Estudio de Suelos</a></li>
                                            <li><a href="/lab/">Laboratorio</a></li>
                                            <li><a href="">Consultoría</a></li>
                                            <li><a href="/fiscalizacion/">Fiscalización</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Blog</a></li>
                                    <li><a href="/clients/">Acceso Clientes</a></li>
                                    <li><a href="/contact/">Contacto</a></li>
                                </ul>
                            </nav>
                        </section>
                    </div>
                </section>
                
            </section>
            <!-- End of entire header -->
        </header>
        <section class="mobile-nav">
            <nav>
                <ul>
                    <li><a href="/">Inicio</a></li>
                    <li id="mobile-sub-parent" class="current-menu-item">
                        <a href="#">Servicios</a>
                        <ul id="mobile-sub">
                                <li><a href="">Estudio de Suelos</a></li>
                                <li><a href="">Laboratorio</a></li>
                                <li><a href="">Consultoría</a></li>
                                <li class="current-menu-item"><a href="/fiscalizacion/">Fiscalización</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="/clients/">Acceso Clientes</a></li>
                    <li><a href="/contact/">Contacto</a></li>
                </ul>
            </nav>
            {{ $headless := .Site.GetPage "/editablepages" }}
            {{ $reusablePages := $headless.Resources.Match "_social*" }} 
            {{ range $reusablePages }}
            <div class="animated-social">
                <a class="btn-social" href="{{ .Params.lnlink }}">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
                <a class="btn-social" href="{{ .Params.glink }}">
                    <i class="fa fa-google-plus" aria-hidden="true"></i>
                </a>
                <a class="btn-social" href="{{ .Params.fblink }}">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
            </div>
            {{ end }}
        </section>
         <!-- start of fade cover  -->
        <div class="fade-cover">
            
        </div>
        <!-- End of fade cover -->
        <!-- Start of cover -->
        <section class="service-cover estudiosuelos">
            <div class="head service-head" data-aos="fade-right" data-aos-duration="1000">
               <span>
                   <h1>Estudio de Suelos</h1>
                   <p><a href="/">Inicio</a> <i class="fa fa-angle-right" aria-hidden="true"></i> <a href="#">Estudio de Suelos</a></p>
                </span>
            </div>
        </section>
        <!-- End of cover -->

        <!-- Start of service description -->
        <section class="service-description content">
                {{ $headless := .Site.GetPage "/editablepages" }}
                {{ $reusablePages := $headless.Resources.Match "_suelos*" }} 
                {{ range $reusablePages }}
                <div class="section-title">
                    <h3><span>{{.Params.sectionTitle }}</span></h3>
                </div>  
                <div class="text-form">
                    <div class="section-text">
                        <p>{{ .Content }}</p>
                    </div>
                    {{ end }}
                    <div class="form3">  
                            <div class="form1" data-aos="zoom-in-up" data-aos-duration="1000" data-aos-anchor-placement="top-bottom">
                                    <h3>SOLICITA UNA COTIZACIÓN GRATIS</h3>
                                    <p>Llena el formulario a continuación y estaremos en contacto en breve</p>
                                <!-- start of form2-->
                                    <form method="POST" data-netlify="true" class="contact-form">
                    
                                        <input name="name" placeholder="NOMBRE COMPLETO" required>
                    
                                        <input name="phone" type="tel" placeholder="TELÉFONO" required>
                            
                                        <input name="email" type="email" placeholder="EMAIL" required>
                        
                                        <select id ="topicList" name="theme" size="1">
                            
                                            <option value="URG Contacto Web">TIPO DE SOLICITUD</option> 
                    
                                            <option value = "URG Cotizacion">Cotizaci&oacute;n</option>
                    
                                            <option value = "URG Informacion">Informaci&oacute;n general</option>
                    
                                        </select>
                                        
                                    <textarea name="message" placeholder="DESCRIPCIÓN"></textarea>
                                    <div class="btn1">
                                        <input id="submit1" name="submit" type="submit" value="ENVIAR">
                                    </div>
                                </form>
                                <!-- end of form -->
                            </div>
                    </div>
                </div>
                
        </section>
        <!-- End of service description -->
        {{ $headless := .Site.GetPage "/estudiosuelos" }}
            {{ $reusablePages := $headless.Resources.Match "estudios*" }} 
            {{ range $reusablePages }}
        <!-- Start of soil study service -->
        <section class="full-width f1">
            <section class="suelos-service content">
                <div class="c1">
                    <div class="slider-container">
                        <div class="service-slider">
                            <div class="swiper-container s3" data-aos="flip-up" data-aos-anchor-placement="center-bottom" data-aos-duration="900">
                                <div class="swiper-wrapper">
                                    {{ range .Params.galleryImages }}
                                    <div class="swiper-slide">                                        
                                        <div class="slide-inner" style="background: url({{ . }});"></div>
                                    </div>
                                    {{ end }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="service-content">
                        <div class="title" data-aos="fade-left" data-aos-anchor-placement="top-bottom">
                            <h3><span>{{.Title}}</span></h3>
                        </div>
                        <div class="description">
                            <p>{{ .Content }}
                            </p>
                            <h4>¿QUÉ SE DETERMINA CON ESTA PRUEBA?</h4>
                            <ul>
                                {{ range .Params.objectives }}
                                <li>{{ . }}</li>
                                {{ end }}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="c3">
                    <div>  </div><span>NORMATIVAS</span><div>  </div>
                </div>
                <div class="c2" data-aos="fade-up" data-aos-duration="900" data-aos-anchor-placement="center-bottom">
                    {{ range .Params.afiliateImages }}
                    <div>
                        <img src="{{ . }}" alt="certificate" class="certificate2">
                    </div>
                    {{ end }}
                </div>
            </section>
        </section>
            <!-- End of service -->
        {{ end }}

        <!-- Double banner -->
        <section class="full-width">
            <div class="double-banner banner4">
                <div class="slogan">
                    <h1 data-aos="fade-up" data-aos-duration="600">Donde construcción e innovación convergen.</h1>
                    <div data-aos="zoom-in-right" data-aos-anchor-placement="top-bottom" data-aos-duration="600" data-aos-easing="ease-out"><button class="btn4" >REVISA NUESTROS PRECIOS</button></div>
                </div>
                <div class="picture" data-aos="fade-left" data-aos-duration="600">
                    {{ $headless := .Site.GetPage "/bannerslider" }}
                    {{ $reusablePages := $headless.Resources.Match "bannerslider*" }} 
                    {{ range $reusablePages }}
                        {{ range .Params.galleryImages }}
                        <div class="picture-slides" style="display: none;">{{ . }}</div>
                        {{ end }}
                    {{ end }}
                    <figure class="hoverbtn">
                        
                    <figcaption>
                        <h3>CONTÁCTANOS</h3>
                        </figcaption>
                        <a href="#"></a>
                      </figure>
                </div>
            </div>
        </section>
        <!-- End of double banner -->

        <!-- Start of Blog -->
        {{ block "blogentries" . }}{{ partial "blog-entries.html" .}}{{ end }}
        <section class="full-width">
            <iframe src="https://www.google.com/maps/embed?pb=!1m24!1m12!1m3!1d1390.1848170603428!2d-77.81045166199002!3d-0.9846385972673649!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m9!3e6!4m3!3m2!1d-0.9938300999999999!2d-77.81494529999999!4m3!3m2!1d-0.9841302!2d-77.8102086!5e0!3m2!1sen!2sec!4v1570006029076!5m2!1sen!2sec" width="760" height="300" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </section>

        <!-- End of blog -->
        {{ block "footer" . }}{{ partial "site-footer.html" .}}{{ end }}
    </div>
    <script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/js/swiper-aos-anime.min.js"></script>
    <script type="text/javascript" src="/js/custom.js"></script>
    <script type="text/javascript" src="/js/shave.js"></script>
    
</body>

</html>