<footer data-aos="fade-up" data-aos-anchor-placement="top-bottom">

        <section class="widgets"><article>

                <h3><span>Contacto</span></h3>

                <p>GEATEC Suelos y Hormigones<br><strong>Tena:</strong><br>Calle Agustín Calapucha<br>Tlf: +593 995 850 844<br>E-mail: <a href="mailto:alejandra.leon@gea-tec.com?subject=URG gea-tec.com">alejandra.leon@gea-tec.com</a></p>

            </article><article class="widget_links">

                <h3><span>Servicios</span></h3>

                <ul>

                    <li><a href="integrityreport.html">Estudio de Suelos</a></li>

                    <li><a href="poligrafo.html">Laboratorio</a></li>

                    <li><a href="integritest.html">Fiscalización</a></li>

                    <li><a href="seguridadvial.html">Consultoría</a></li>

                </ul>

            </article><article class="widget_photos">

                <h3><span>Social</span></h3>

                <ul>
                {{ $headless := .Site.GetPage "/editablepages" }}
                {{ $reusablePages := $headless.Resources.Match "_social*" }} 
                {{ range $reusablePages }}
                <li><a style="color: #3b5998" target="_blank" href="{{ .Params.fblink }}"><i class="fa fa-facebook-square" aria-hidden="true"></i> <span style="color: #fff; margin-left: 7px;">Geatec Suelos y Hormigones</span></a></li>

                    <li><a style="color: #cc3333" target="_blank " href="{{ .Params.glink }}"><i class="fa fa-google-plus" aria-hidden="true"></i> <span style="color: #fff; margin-left: 7px;">Geatec Suelos y Hormigones</span></a></li>

                    <li><a style="color: #0077b5" target="_blank" href="{{ .Params.lnlink }}"><i class="fa fa-linkedin-square" aria-hidden="true"></i> <span style="color: #fff; margin-left: 7px;">Geatec Suelos y Hormigones</span></a></li>
                    {{ end }}
                </ul>

            </article>

        </section>

        
        <section class="copyright">Copyright © 2019 by <a href="https://amazondigitalecuador.com">Amazon Digital Ecuador</a></section>
    </footer>